img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  backface-visibility: hidden;
}

a {
  float: left;
  width: 30%;
  padding: 10px;
  transition: all 500ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.instafeed {
  max-width: 67.375em;
  margin: 0 auto;
  padding-left: 57.375px;
}

.instafeed:hover a {
  opacity: 1 !important;
}

.instafeed:hover a:hover {
  opacity: 1 !important;
}

h1 {
  font-family: 'Lobster', cursive;
  text-align: center;
  font-size: 300%;
  line-height: 10%;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 80%;
}